<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <center><h1>Cadastrar Novo Livro</h1></center>
    <div class="container">
        <form action="/books/create" method="post">
        <div class="field">
            <label class="label">Título</label>
            <div class="control">
              <input class="input" type="text" placeholder="Título do Livro" name="title">
            </div>
          </div>
          
          <div class="field">
            <label class="label">Autor</label>
              <input class="input" type="text" placeholder="Autor do Livro..." name="author">
          </div>
           
          <div class="field">
            <label class="label">Gênero</label>
              <input class="input" type="text" placeholder="Gênero do Livro..." name="genre">
          </div>

          <div class="field">
            <label class="label">Quantidade</label>
              <input class="number" type="text" placeholder="Quantidade Disponível" name="quantity">
          </div>

          <div class="field">
            <label class="label">Prateleira</label>
              <input class="number" type="text" placeholder="Prateleira" name="shelf">
          </div>
          
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
            
          </div>
        </form>  
    </div>
  </section>
  </body>
</html>